<?xml version="1.0" encoding="utf-8"?>
<openerp><data>

    <record model="ir.actions.act_window" id="context_settings_action">
        <field name="name">Context</field>
        <field name="res_model">gtd.context</field>
        <field name="view_mode">tree,form</field>
    </record>

    <!-- <record model="ir.actions.act_window" id="context_action">
        <field name="name">Context</field>
        <field name="res_model">gtd.context</field>
        <field name="view_mode">tree,form</field>
    </record> -->

    <menuitem name="Context" parent="project_settings_menu" sequence="10"
              action="context_settings_action" id="context_settings_menu"/>

    <!-- <menuitem name="Context" parent="gtd_top_menu" sequence="12"
              action="context_action" id="context_main_menu"/>
    -->
    <record model="ir.ui.view" id="context_settings_list">
        <field name="name">gtd.context settings list</field>
        <field name="model">gtd.context</field>
        <field name="arch" type="xml">
            <tree>
                <field name="name"/>
            </tree>
        </field>
    </record>

    <!--
    <record model="ir.ui.view" id="context_list">
        <field name="name">gtd.context list</field>
        <field name="model">gtd.context</field>
        <field name="arch" type="xml">
            <tree>
                <field name="name"/>
            </tree>
        </field>
    </record>
    -->

    <record model="ir.ui.view" id="context_form">
        <field name="name">gtd.context form</field>
        <field name="model">gtd.context</field>
        <field name="arch" type="xml">
            <form>
                <sheet>
                    <group>
                        <group string="Info">
                            <field name="name"/>
                        </group>
                    </group>
                </sheet>
            </form>
        </field>
    </record>


</data></openerp>